@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400;700&display=swap');
@import './button.css';
@import './navbar.css';
@import './background.css';
@import './input.css';
@import './position.css';
@import './colors.css';

/* Configurações de cores */
:root {
    --bg-orange:         #06402B;
    --bg-orange-hover:   #06402B;
    --bg-black:          #000000;
    --bg-marron-1:       #757575;
    --bg-marron-2:       #F4F4F4;
    --bg-white:          #FFFFFF;
    --bg-yellow:         #fcb705;
    --bg-roxo:           #e9008c;
}

html, body {
    font-size: 16px;
    font-family: 'Ruda', sans-serif;
    font-weight: 400;
    width: 100%;
    height: 100%;
}